:root{
    --bg: rgb(155, 216, 245);
    --white-bg: #f7f7f7;
    --black-txt: black;

}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}

body{
    background: var(--bg);
    font-family:'Montserrat Alternates', sans-serif;
    height:auto;
    width:auto;
}

h2{
    font-family: 'Lilita One','Cursive';
    font-size: 2.5rem;
    text-align:center;
    margin: 10vh 0;
    color: var(--black-txt);
}

p{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.5em;
    color: var(--black-txt);
    margin:0 auto;
    padding:20px;
    font-weight:500;
}


div.row{
    width:100%;
    margin:auto auto;
}

div div{
    width:80%;
    height:40vh;
    border: .5em solid var(--black-txt);
    margin-bottom:30px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding-top:40px;
}

h4.white-bg{
    position:absolute;
    display: inline-block;
    width:40%;
    text-align:center;
    top:0;
    right:0;
    font-family:'Lilita One', 'Cursive';
    font-size: 1.5rem;
    font-weight:400;
    color: var(--black-txt);
    padding: 5px 10px;
    background: var(--white-bg);
    border-style: solid;
    border-width: 0 0 .2em .2em;
    border-color: red;
}

@media (min-width: 992px) {
    .col-lg-4{
        width:30%;
        height:50%;
        float:left;
        padding:40px 20px;
        
    }
    h2{
        font-size:3.5rem;
    }
    
    p{
        font-size:1.5rem;
    }

   .row div:nth-child(3){
        margin-right:2.5%;
        margin-left:2.5%;
    }
    .row{
        padding-left:5%;
    }
   
} 

@media (min-width:768px) and (max-width: 991px){
    .col-md-6{
        width: 45%;
        padding: 30px;
        float:left;
    }

    .col-md-6:nth-child(2){
        margin-right:5%;
    }

    .col-md-6:nth-child(-n+3) {
        height:50vh;
    }
    .col-md-12{
        width:95%;
        padding:30px;
        float:left;
        margin: 2.5% auto;
        height:30vh;

    }
    p{
        font-size:1.3rem;
    }
    h2{
        font-size:
    }

    .row{
        padding-right: auto;
        padding-left: 5%;
    
    }
}